:root {
  /* Backgrounds principaux */
  --first-background-color: rgba(247, 246, 242, 1);
  --seconde-background-color: rgba(250, 226, 226, 1);

  /* Composants */
  --background-color-cards: rgba(232, 187, 196, 1);
  --background-color-btn: rgba(224, 120, 143, 1);
  --background-nav: rgba(235, 223, 217, 1);
  --background-footer: rgba(205, 193, 187, 1);

  /* États / interactions */
  --hover: rgba(224, 120, 143, 1);

  /* Textes */
  --Texte-Color: rgba(66, 66, 66, 1);
  --titre-Color: rgba(46, 46, 46, 1);
  --li-color: rgba(252, 244, 242, 1);
  --logo-dark: #3a3a3a;
--logo-pink: #d93a7c;


  /* Icônes / accents */
  --icon-Color: rgba(223, 53, 127, 1);
}
.formation-page {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

/* HERO */
.formation-hero {
  text-align: center;
  margin-bottom: 4rem;
}

/* FORMATIONS */
.formations-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.formation-card {
  background: var(--background-color-cards);
  padding: 2rem;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.formation-card:hover {
  transform: translateY(-8px);
}

.formation-card h3 {
  margin-bottom: 0.5rem;
}

.price {
  font-weight: bold;
  display: block;
  margin: 1rem 0;
}

/* AGENDA */
.agenda {
  margin: 4rem 0;
  text-align: center;
}

.agenda select {
  padding: 0.7rem;
  border-radius: 20px;
  border: none;
    border: solid 1px var(--background-color-btn);
    background-color: var(--background-color-btn);
    color: var( --li-color);
}
/* PANIER */
.cart {
  background: var(--seconde-background-color);
  padding: 2rem;
  border-radius: 25px;
  text-align: center;
}
.cart h2{
  background: var(--seconde-background-color);
  padding: 2rem;
  border-radius: 25px;
  text-align: center;
}
.cart p{
  background: var(--seconde-background-color);
  padding: 2rem;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 8px;
}

/* MODAL */
.payment-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.payment-modal.active {
  display: flex;
}

.payment-box {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  width: 320px;
  position: relative;
}
.payment-box h2{
 margin-bottom: 10px;
}
.payment-box p{
 margin-bottom: 10px;
}
.payment-box input{
  margin-bottom: 10px;
  border: solid 1px var(--first-background-color);
  background-color: var(--first-background-color);
    color: var(- --titre-Color);
  border-radius: 3px;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .formations-list {
    grid-template-columns: 1fr;
  }
}
